dialog {
  display: none;
}

dialog[open] {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 25px;
  padding: 20px;
  background-color: white;
}

dialog::backdrop {
  background: rgb(0, 0, 0, 0.5);
}

dialog > form {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(2, min-content);
  align-items: center;
  row-gap: 10px;
  column-gap: 30px;
  font-family: var(--kanit, --system-ui);
  font-size: 16pt;
}

dialog > button {
  align-self: end;
  width: min-content;
  padding: 0;
  background: transparent;
  border: none;
  grid-column: 1 / 3;
}

dialog > button > svg {
  fill: black;
}

dialog > button > svg {
  width: 25px;
  height: 25px;
  transition: 0.5s ease;
}

dialog > button > svg:hover {
  fill: red;
  transform: scale(1.2);
  cursor: pointer;
}

dialog > form > label {
  text-align: right;
}

dialog > form > input {
  font-size: 12pt;
  padding: 10px;
  border: none;
  border-bottom: 1px solid lightgray;
}

dialog > form > div {
  grid-column: 1/ 3;
  display: flex;
  justify-content: center;
  gap: 30px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  padding: 10px;
  margin: 0;
  border: 1px solid lightgray;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: darkgreen;
  background-image: url("/images/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

dialog > form > button {
  grid-column: 1 / 3;
  justify-self: center;
  width: min-content;
  color: white;
  font-size: 12pt;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: lightslategray;
  transition: 0.2s ease;
}

dialog > form > button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
