footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

footer > p {
  color: white;
  font-size: 14pt;
  font-family: var(--kanit, --system-ui);
}

footer > a > img {
  width: 35px;
  transition: 0.5s ease;
}

footer > a > img:hover {
  transform: scale(1.1) rotate(1turn);
}
